keypadnxn/stm32L4R5ZI/Release/
keypadnxn/avr128da48.X/build
keypadnxn/avr128da48.X/debug
keypadnxn/avr128da48.X/dist
keypadnxn/atmega328pb-ex/atmega328pb-ex/Debug
keypadnxn/atmega328pb-ex/atmega328pb-ex/doxygen
keypadnxn/atmega328pb-ex/atmega328pb-ex/Debug.xml
keypadnxn/atmega328pb-ex/atmega328pb-ex/Release.xml
keypadnxn/atmega328pb-ex/atmega328pb-ex/Default.xml


keypadnxn/.metadata
keypadnxn/arduino-ex
keypadnxn/espidf-ex