[submodule "keypadnxn/stm32L4R5ZI/components/keypadnxn"]
	path = keypadnxn/stm32L4R5ZI/components/keypadnxn
	url = https://github.com/GenericLibrary/keypad-nxn.git
[submodule "keypadnxn/stm32L4R5ZI/components/unity/Unity"]
	path = keypadnxn/stm32L4R5ZI/components/unity/Unity
	url = https://github.com/GenericLibrary/unity_onedir.git
[submodule "keypadnxn/avr128da48.X/components/unity/Unity"]
	path = keypadnxn/avr128da48.X/components/unity/Unity
	url = https://github.com/GenericLibrary/unity_onedir.git
[submodule "keypadnxn/avr128da48.X/components/keypadnxn"]
	path = keypadnxn/avr128da48.X/components/keypadnxn
	url = https://github.com/GenericLibrary/keypad-nxn.git
