[submodule "keypadnxn/stm32L4R5ZI/components/keypadnxn"]
	path = keypadnxn/stm32L4R5ZI/components/keypadnxn
	url = https://github.com/GenericLibrary/keypad-nxn.git
[submodule "keypadnxn/stm32L4R5ZI/components/unity/Unity"]
	path = keypadnxn/stm32L4R5ZI/components/unity/Unity
	url = https://github.com/GenericLibrary/unity_onedir.git
[submodule "keypadnxn/avr128da48.X/components/unity/Unity"]
	path = keypadnxn/avr128da48.X/components/unity/Unity
	url = https://github.com/GenericLibrary/unity_onedir.git
[submodule "keypadnxn/avr128da48.X/components/keypadnxn"]
	path = keypadnxn/avr128da48.X/components/keypadnxn
	url = https://github.com/GenericLibrary/keypad-nxn.git
[submodule "keypadnxn/atmega328pb-ex/atmega328pb-ex/components/keypadnxn"]
	path = keypadnxn/atmega328pb-ex/atmega328pb-ex/components/keypadnxn
	url = https://github.com/GenericLibrary/keypad-nxn.git
[submodule "keypadnxn/atmega328pb-ex/atmega328pb-ex/components/Unity"]
	path = keypadnxn/atmega328pb-ex/atmega328pb-ex/components/Unity
	url = https://github.com/GenericLibrary/unity_onedir.git
[submodule "keypadnxn/arduino-ex/keypadnxn"]
	path = keypadnxn/arduino-ex/keypadnxn
	url = https://github.com/GenericLibrary/keypad-nxn.git
[submodule "keypadnxn/arduino-ex/unity"]
	path = keypadnxn/arduino-ex/unity
	url = https://github.com/GenericLibrary/unity_onedir.git
[submodule "keypadnxn/espidf-ex/components/keypadnxn"]
	path = keypadnxn/espidf-ex/components/keypadnxn
	url = https://github.com/GenericLibrary/keypad-nxn.git
[submodule "keypadnxn/k210-ex/components/keypadnxn"]
	path = keypadnxn/k210-ex/components/keypadnxn
	url = https://github.com/GenericLibrary/keypad-nxn.git
[submodule "keypadnxn/k210-ex/components/unity/Unity"]
	path = keypadnxn/k210-ex/components/unity/Unity
	url = https://github.com/GenericLibrary/unity_onedir.git
